<!doctype html>
<html lang="en" ng-app="githubApp">
<head>
  <meta charset="UTF-8">
  <title>Instructor List</title>
  <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components\bootstrap\dist\js\bootstrap.min.js"></script> 
  <script type="text/javascript" src="bower_components\angular\angular.min.js"></script>
  <link href="css/main.css" rel="stylesheet">
  <script src="app.js"></script>
</head>

<body>
  <div class="container">
  <current-weather city="San Francisco"></current-weather>
    <div ng-controller="Controller">
     <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort by
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a ng-click="sortType = 'name'">name</a></li>
        <li><a ng-click="sortType = 'cohort'">cohort</a></li>
        <li><a ng-click="sortType = 'github'">github</a></li>
        <li><a ng-click="sortType = 'position'">position</a></li>
      </ul>
    </div>
    Search: <input ng-model="query">
      <div ng-repeat="instructor in instructors | orderBy: sortType">
        <div class="row" >
          <div class="col-md-8 pic">
            <img ng-src="{{instructor.image}}">
          </div>
          <div class="col-md-4 pic">
            <h1 id="name">  <a ng-href="google.com"> {{instructor.name}} </a></h1>      
            <p id="github"> Github: {{instructor.github}} </p>        
            <p id="cohort">Cohort: {{instructor.cohort}}</p>
            <p id="position">Position: {{instructor.position}}</p>
            <button ng-click="count = count + 1" ng-init="count=0">How much automagic happpens in class?</button> 
            <span>
              count: {{count}}
            </span>
            <div ng-if="count >= 5">
              <p> Magician! </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
